# This file is a "template" of which env vars need to be defined for your application
# Override the variables you want in .env.local for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
COMPOSE_PROJECT_NAME=mercur
SHELL_VERBOSITY=3

COMMANDS_TOPIC=payment_commands
EVENTS_TOPIC=payment_events

ENQUEUE_DSN=rdkafka://kafka:9092
