<?php declare(strict_types=1);

$finder = PhpCsFixer\Finder::create()
	->in(__DIR__)
	->exclude('var')
;

return PhpCsFixer\Config::create()
	->setFinder($finder)
	->setRiskyAllowed(true)
	->setRules([
		'array_syntax' => ['syntax' => 'short'],
		'declare_strict_types' => true,
		'no_useless_else' => true,
		'no_useless_return' => true,
		'no_unused_imports' => true,
		'ordered_imports' => true,
		'phpdoc_order' => false,
		'php_unit_strict' => false,
		'strict_comparison' => true,
		'indentation_type' => true,
	])
	->setIndent("\t")
	->setLineEnding("\n")
	->setCacheFile(__DIR__.'/var/cache/.php_cs.cache')
;
